<a href="https://colab.research.google.com/github/RafaelRSR/Pandas-Aula3/blob/main/Pandas_Aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Segundo exemplo utilizando Python Pandas - Inserção de dados, remoção de colunas, merge, gráficos.

In [80]:
#Importando a biblioteca pandas
import pandas as pd

In [81]:
#Atribuição de variável à leitura do excel importado
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

In [82]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [83]:
#Criar uma coluna "Obs" que tenha nela "Melhor Cidade" quando cidade for igual a "FLORIANOPOLIS"
combustiveis_df['Obs'] = ["Melhor Cidade" if municipio == 'FLORIANOPOLIS' else '' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[(combustiveis_df['Municipio'].isin(['FLORIANOPOLIS']))])

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs
7198,S,SC,FLORIANOPOLIS,MARQUINHO COMBUSTIVEIS E SERVICOS LTDA,05.991.479/0003-50,AVENIDAS PATRICIO CALDEIRA DE ANDRADE,1270,NaN,CAPOEIRAS,88085-150,GASOLINA,2021-11-02,6.799,NaN,R$ / litro,ALESAT,True,Melhor Cidade
7199,S,SC,FLORIANOPOLIS,MARQUINHO COMBUSTIVEIS E SERVICOS LTDA,05.991.479/0003-50,AVENIDAS PATRICIO CALDEIRA DE ANDRADE,1270,NaN,CAPOEIRAS,88085-150,ETANOL,2021-11-02,6.299,NaN,R$ / litro,ALESAT,True,Melhor Cidade
7200,S,SC,FLORIANOPOLIS,MARQUINHO COMBUSTIVEIS E SERVICOS LTDA,05.991.479/0003-50,AVENIDAS PATRICIO CALDEIRA DE ANDRADE,1270,NaN,CAPOEIRAS,88085-150,GASOLINA ADITIVADA,2021-11-02,6.799,NaN,R$ / litro,ALESAT,True,Melhor Cidade
7201,S,SC,FLORIANOPOLIS,MARQUINHO COMBUSTIVEIS E SERVICOS LTDA,05.991.479/0003-50,AVENIDAS PATRICIO CALDEIRA DE ANDRADE,1270,NaN,CAPOEIRAS,88085-150,DIESEL S10,2021-11-02,5.149,NaN,R$ / litro,ALESAT,True,Melhor Cidade
7202,S,SC,FLORIANOPOLIS,POSTO DE COMBUSTIVEIS FAROL DA ILHA LTDA,07.793.610/0001-39,RUA PROFESSORA SOFIA QUINT DE SOUZA,349,NaN,CAPOEIRAS,88085-040,GASOLINA,2021-11-02,6.799,NaN,R$ / litro,RAIZEN MIME,True,Melhor Cidade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162019,S,SC,FLORIANOPOLIS,POSTO BRASOL COMERCIO DE COMBUSTIVEIS LTDA,32.543.740/0001-60,AVENIDA GOVERNADOR IVO SILVEIRA,2.642,NaN,CAPOEIRAS,88085-001,ETANOL,2021-12-28,5.499,NaN,R$ / litro,RODOIL,True,Melhor Cidade
162020,S,SC,FLORIANOPOLIS,POSTO BRASOL COMERCIO DE COMBUSTIVEIS LTDA,32.543.740/0001-60,AVENIDA GOVERNADOR IVO SILVEIRA,2.642,NaN,CAPOEIRAS,88085-001,GASOLINA,2021-12-28,6.629,NaN,R$ / litro,RODOIL,True,Melhor Cidade
162273,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,NaN,CAPOEIRAS,88090-050,DIESEL S10,2021-12-28,5.140,NaN,R$ / litro,BRANCA,True,Melhor Cidade
162274,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,NaN,CAPOEIRAS,88090-050,GASOLINA ADITIVADA,2021-12-28,6.620,NaN,R$ / litro,BRANCA,True,Melhor Cidade
162275,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,NaN,CAPOEIRAS,88090-050,GASOLINA,2021-12-28,6.620,NaN,R$ / litro,BRANCA,True,Melhor Cidade

In [84]:
#Calcular quantidade de postos de gasolina por habitante no mês de nov/2021
num_habitantes = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes.rename(columns={"Estado": "Estado - Sigla"}, inplace=True)
display(num_habitantes)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [85]:
#Faz um merge de dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merged_df = combustiveis_df.merge(num_habitantes, how="inner", on=colunas)
display(merged_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,260690

In [86]:
#Destruir colunas completamente vazias
merged_df.dropna(axis='columns', inplace=True)
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Bairro             20634 non-null  object
 8   Cep                20634 non-null  object
 9   Produto            20634 non-null  object
 10  Data da Coleta     20634 non-null  datetime64[ns]
 11  Valor de Venda     20634 non-null  float64
 12  Unidade de Medida  20634 non-null  object
 13  Bandeira           20634 non-null  object
 14  Ativo              20634 non-null  bool
 15  Obs                20634 non-null  object
 16  NumHabitantes2021  20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 2.7+ MB
None

In [87]:
#Remover linhas especificas
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Obs']
merged_df.drop(labels=colunas, axis=1, inplace=True)
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(4)
memory usage: 967.2+ KB
None

In [88]:
#Remover as linhas duplicadas
merged_df.drop_duplicates(inplace=True)
display(merged_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,1555626
...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,6775561

In [91]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merged_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Numero de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Numero de Postos
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           44
GO             GOIANIA        1555626                          93
MG             BELO HORIZONTE 2530701                          54
MS             CAMPO GRANDE   916001                          104
PR             CURITIBA       1963726                         110
RJ             RIO DE JANEIRO 6775561                         379
RN             NATAL          803739                           37
RO             PORTO VELHO    548952                           40
RS             PORTO ALEGRE   1492530                          73
SP             CAMPINAS       1223237                          51
               INDAIATUBA     260690                           36
               SANTOS         433991                           36
               SAO PAULO      12396372                        429
               SAO VICENTE    370839                           20
TO             PALMAS         313349                           26